@import "../variables";

.profile-ref {
  display: none;

  @media #{$laptop} {
    border-radius: 1rem;
    background-color: $main-color;
    display: flex;
    position: fixed;
    align-items: center;
    left: 2rem;
    height: 2rem;
    width: 23vw;
  }

  @media #{$desktop} {
    left: 21.5%;
    width: 15vw;
  }

  &--dark {
    background-color: $main-color;
  }

  .profile-link {
    display: flex;
    width: 85%;
    height: 100%;
    gap: 0.5rem;
    text-decoration: none;

    &__picture {
      display: block;
      width: 2rem;
      height: 2rem;
      border-radius: 50%;
      cursor: pointer;
      object-fit: fill;
      border: 1px solid $main-color;
    }

    &__username {
      height: inherit;
      color: $font_white;
      overflow: hidden;
      text-overflow: ellipsis;
      padding-top: 0.2rem;

      &:hover {
        color: $font-gray;
        cursor: pointer;
      }

      @media #{$laptop} {
        font-size: 1.2rem;
      }

      @media #{$desktop} {
        font-size: 1.1rem;
      }
    }
  }

  &__log-out-button {
    color: $font-white;
    background-color: transparent;
    padding: 0 0.5rem;
    cursor: pointer;
    &:hover {
      color: red;
    }
  }
}
