@import "../../shared/variables";

.tweets-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 95%;
  gap: 0.2rem;

  @media #{$tablets-only} {
    width: 70%;
  }

  @media #{$laptop} {
    width: 45%;
  }

  @media #{$desktop} {
    width: 26%;
    margin: 0.5rem auto;
  }
}
