@import "../variables";

.textarea {
  margin: 2rem auto;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__input {
    border: 2px solid $twittfake_purple_hover;
    width: 75%;
    font-size: 1.2rem;
    height: 60vh;
    border-radius: 1rem;
    resize: none;
    margin: inherit;
  }

  &__submit-button {
    width: 46.35%;
    height: 5.41vh;
    border-radius: 1rem;
    border: none;
    background-color: $twittfake_purple_hover;
    color: $twittfake_font_white;

    &:hover {
      background-color: #afabed;
    }

    @media #{$tablets-only} {
      width: 28.64%;
    }
  }
}
