@import "../variables";

.profile-ref {
  display: none;

  @media #{$laptop} {
    border-radius: 1rem;
    background-color: $main-color;
    display: flex;
    position: fixed;
    justify-content: space-evenly;
    align-items: center;
    left: 1.5rem;
    height: 2rem;
    width: 22vw;
  }

  @media #{$desktop} {
    left: 18%;
    width: 15vw;
  }

  .profile-link {
    display: flex;
    height: 100%;
    align-items: center;
    gap: 1.5rem;
    text-decoration: none;

    &__picture {
      display: block;
      width: 2rem;
      height: 2rem;
      border-radius: 50%;
      cursor: pointer;
      object-fit: contain;
    }

    &__username {
      padding-top: 0.4rem;
      font-weight: 450;
      color: $twittfake_font_white;

      &:hover {
        color: $twittfake_gray;
        cursor: pointer;
      }

      @media #{$laptop} {
        font-size: 1.2rem;
      }

      @media #{$desktop} {
        font-size: 1.4rem;
      }
    }
  }

  &__log-out-button {
    color: $twittfake_font_white;
    cursor: pointer;
    &:hover {
      color: red;
    }
  }
}
