$twittfake_purple: rgb(140, 101, 231, 0.7) !default;
$twittfake_purple_hover: rgb(191, 171, 237) !default;
$twittfake_gray: #9f9f9f !default;
$twittfake_font_white: rgb(255, 255, 240) !default;
$tablets-only: "(min-width: 700px) and (max-width:1024px)";
$laptop: "(min-width: 1024px)";
$desktop: "(min-width:1440px)";

@keyframes widthExpand {
  from {
    transform: scaleX(0);
    opacity: 0;
  }
  to {
    transform: scaleX(1);
    opacity: 100%;
  }
}

@keyframes contentAppear {
  from {
    opacity: 0;
  }
  to {
    opacity: 100%;
  }
}

@mixin buttons {
  background-color: $twittfake_purple;
  color: $twittfake_font_white;
  border-radius: 50%;
  width: 0.7rem;
  height: 0.7rem;
  position: absolute;
  top: -0.8rem;
  padding: 1rem;
  display: block;
  cursor: pointer;

  @media #{$tablets-only} {
    width: 1.7rem;
    height: 1.7rem;
  }

  @media #{$laptop} {
    width: 1.7rem;
    height: 1.7rem;
  }
}

@mixin submitButton {
  width: 35%;
  height: 3vh;
  margin: 0.5rem auto;
  border-radius: 9999px;
  color: $twittfake_font_white;
  background-color: $twittfake_purple_hover;
  border: none;

  @media #{$laptop} {
    width: 30%;
    height: 5vh;
  }

  &:hover {
    background-color: $twittfake_purple;
  }
}
