@import "../variables";

.navbar {
  width: 73%;
  height: 2.9rem;
  position: fixed;
  bottom: 0.5rem;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: $twittfake_purple_hover_ver-2;
  border-radius: 9999px;
  transition: all 0.3s ease;

  &.hidden {
    transform: translate(-50%, 200%);
  }

  @media #{$tablets-only} {
    width: 45%;
    height: 3.4rem;
  }

  @media #{$laptop} {
    display: none;
  }

  &__person,
  &__users-profile-pic,
  &__magnifying-glass {
    animation: contentAppear 7s;
    border-radius: 50%;
    color: $twittfake_font_white;
    cursor: pointer;

    &:hover {
      color: $twittfake_font_white;
    }

    @media #{$tablets-only} {
      font-size: 1.7rem;
    }

    @media #{$laptop} {
      display: none;
    }
  }

  &__users-profile-pic {
    width: 1.35rem;
    height: 1.35rem;

    @media #{$tablets-only} {
      width: 2rem;
      height: 2rem;
    }
  }

  &__plus {
    animation: contentAppear 7s;
    color: $twittfake_font_white;
    border-radius: 50%;
    background-color: $twittfake_purple;
    text-align: center;
    font-size: 1.3rem;
    width: 2rem;
    height: 2rem;

    &:hover {
      color: $twittfake_font_white;
    }

    @media #{$tablets-only} {
      font-size: 1.7rem;
      width: 2.7rem;
      height: 2.7rem;
    }
  }
}
