@import "../variables";

.searchbar {
  display: none;

  @media #{$laptop} {
    display: block;
    position: fixed;
    top: 1rem;
    right: 2rem;
  }

  @media #{$desktop} {
    right: 13.5%;
  }

  &__input {
    border-radius: 9999px;
    text-align: center;
    position: relative;
    color: $twittfake_gray;
    width: 70vw;
    height: 2rem;
    border-color: $main-color;

    &--isDark {
      background-color: $main-color;
      border: none;

      &::placeholder {
        color: white;
      }
    }

    @media #{$laptop} {
      width: 23vw;
    }

    @media #{$desktop} {
      width: 20vw;
    }

    &:focus-visible {
      outline: 1px solid $secondary-color;
    }
  }

  &__icon {
    position: absolute;
    left: 1.5rem;
    top: 50%;
    color: $twittfake_gray;
    transform: translateY(-50%);
  }
}
