@import "../variables";

.searchbar-wrapper {
  display: none;
  position: absolute;
  top: 4rem;
  right: 2.5rem;

  @media #{$laptop} {
    display: block;
    position: fixed;
    top: 1.2rem;
    right: 1rem;
  }

  @media #{$desktop} {
    right: 3rem;
  }

  &__input {
    border-radius: 9999px;
    text-align: center;
    position: relative;
    color: $twittfake_gray;
    width: 70vw;

    @media #{$laptop} {
      width: 19vw;
    }

    @media #{$desktop} {
      width: 15vw;
    }

    &:focus-visible {
      outline-color: $twittfake_purple;
    }
  }

  &__icon {
    position: absolute;
    left: 1.5rem;
    top: 0.5rem;
    color: $twittfake_gray;
  }
}
