@import "./components/variables";

:root {
  font-family: "Mulish", sans-serif;
  font-size: 20px;
  box-sizing: border-box;
}

[data-theme="dark"] {
  background-color: rgb(21, 32, 43);
  color: $font-color-dark;

  input {
    background-color: $font-color-dark;
  }
}

* {
  animation: all 0.3s ease-in-out;
}

body {
  margin-top: 1rem;
  padding: 0;
  border: 0;
  @include backgroundClr;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: $semi-transparent-secondary-color;
  border-radius: 6px;
}
