@import "./components/variables";

:root {
  font-family: "Mulish", sans-serif;
  font-size: 20px;
  box-sizing: border-box;
}

[data-theme="isDark"] {
  background-color: rgb(21, 32, 43);
  color: $font-white;

  ::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 1; /* Firefox */
  }

  :-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: white;
  }

  ::-ms-input-placeholder {
    /* Microsoft Edge */
    color: white;
  }
}

* {
  animation: all 0.3s ease-in-out;
}

body {
  margin-top: 1rem;
  padding: 0;
  border: 0;
  @include backgroundClr;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: $main-color;
  border-radius: 6px;
}
