@import "../variables";

.search-bar-mobile {
  width: 75%;
  margin: 0.5rem auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media #{$tablets-only} {
    width: 60vw;
  }

  &__submit-button {
    @include submitButton;
    width: 100%;
  }

  &__input {
    border-radius: 9999px;
    text-align: center;
    position: relative;
    color: $font_gray;
    width: 100%;
    height: 2rem;
    border: none;
    @include shadow;

    &:focus-visible {
      outline: 1px solid $main-color;
    }

    @media #{$tablets-only} {
      height: 2.7rem;
    }
  }

  &__icon {
    position: sticky;
    left: 1.5rem;
    top: 0;
    color: $font_gray;
  }
}
