@import "../variables";

.popular {
  background-color: $twittfake_purple;
  border-radius: 1rem;

  @media #{$laptop} {
    display: block;
    position: fixed;
    top: 4rem;
    right: 0.5rem;
    width: 22vw;
    padding: 0.7rem;
  }

  @media #{$desktop} {
    right: 13%;
    width: 17vw;
  }

  &__tile {
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    border-bottom: 1px solid $twittfake_font_white;
    border-radius: 10px;
    color: $twittfake_font_white;

    &:hover {
      background-color: $twittfake_purple;
      cursor: pointer;
    }

    &__catch-phrase {
      font-size: 1rem;
    }

    &__category {
      font-size: 0.7rem;
      opacity: 0.7;
    }

    &__amount-of-tweets {
      opacity: 0.7;
      font-size: 0.7rem;
    }
  }
}
