@import "../variables";

.popular {
  display: none;
  border-radius: 1rem;
  background-color: $main-color;

  @media #{$laptop} {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    position: fixed;
    top: 4rem;
    right: 2rem;
    width: 23vw;
    padding: 0.7rem;
  }

  @media #{$desktop} {
    right: 13.5%;
    width: 20vw;
  }

  &.--dark {
    background-color: $backgroundClr-dark;
  }

  &__tile {
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    border-bottom: 1px solid $twittfake_font_white;
    border-radius: 10px;
    color: $twittfake_font_white;

    &:hover {
      background-color: $secondary-color;
      cursor: pointer;
    }

    &__catch-phrase {
      font-size: 1rem;
      background-color: inherit;
    }

    &__amount-of-tweets {
      background-color: inherit;
      opacity: 0.7;
      font-size: 0.7rem;
    }
  }
}
