@import "../variables";

.tweet {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-right: 1px solid $secondary-color;
  border-left: 1px solid $secondary-color;
  width: 100%;
  border-radius: 1.1rem;
  line-height: 1.2rem;
  @include shadow;

  &__username {
    padding-top: 0.5rem;
    font-size: 1rem;
    cursor: pointer;

    @media #{$desktop} {
      font-size: 1.2rem;
    }
  }

  &__save-edit-button {
    display: none;

    &--active {
      display: block;
      border-radius: 9999px;
      width: 4rem;
      height: 1.5rem;
      background-color: $secondary-color;
      color: $twittfake_font_white;
      border: none;
      margin: 0.5rem;
    }
  }

  &__content {
    text-align: center;
    resize: none;
    width: 100%;
    overflow-y: hidden;
    padding: 0.1rem;
    font-size: 1rem;
    border: none;

    @media #{$tablets-only} {
      font-size: 1rem;
      padding: 0.2rem;
    }

    @media #{$laptop} {
      padding-top: 0.6rem;
    }

    @media #{$desktop} {
      font-size: 1rem;
    }

    &:focus-visible {
      outline: none;
      border: none;
    }

    &--edit-mode {
      width: 95%;
      border-radius: 1rem;
      padding: 0.5rem;
      resize: none;

      &--error {
        width: 95%;
        resize: inherit;
        border-radius: inherit;
        margin: 1rem;
        padding: 0.5rem;
        border: 1px solid red;
      }

      &:focus-visible {
        outline: $main-color;
      }
    }
  }

  &__reactions {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    color: $main-color;
    height: 2rem;
    font-size: 1rem;

    @media #{$tablets-only} {
      gap: 1.2rem;
      font-size: 1.2rem;
    }

    &__counter {
      &__comments {
        margin: 0 -0.4rem;
      }

      &__heart {
        margin: 0 -0.4rem;
        &--red {
          margin: -0.4rem;
          color: red;
        }
      }
    }

    &__heart {
      width: 1rem;
      cursor: pointer;
      &:hover {
        @include reactionHoverEffect(rgba(255, 0, 0, 0.212));
      }
    }
    &__trash-can {
      color: red;
      cursor: pointer;

      &:hover {
        @include reactionHoverEffect(rgba(255, 0, 0, 0.23));
      }
    }

    &__comment,
    &__pen-to-square,
    &__retweet {
      cursor: pointer;
    }
  }

  .comment-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 0.5rem;
    margin-bottom: 0.5rem;

    &--isnt-visible {
      display: none;
    }

    .comment {
      background-color: $secondary-color;
      border-radius: 1.1rem;
      padding: 0.9rem;
      width: 90%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      @media #{$tablets-only} {
        width: 55vw;
      }

      @media #{$laptop} {
        width: 90%;
      }

      @media #{$desktop} {
        width: 80%;
      }

      &__username {
        font-size: 1rem;
      }

      &__content {
        border: none;
        background-color: inherit;
        width: 100%;
        text-align: center;
        resize: none;
        outline: none;

        &--edit-mode {
          height: inherit;
          border: inherit;
          width: 100%;
          text-align: inherit;
          resize: inherit;
          margin-top: inherit;
          outline-color: $main-color;
          margin: 1rem auto;
          border-radius: 1rem;
          padding: 0.5rem;
        }
      }

      &__submit-button {
        display: none;
        border-radius: 999px;
        background-color: $main-color;
        border: none;
        width: 25%;
        height: 1.6rem;
        margin: 0.5rem auto;
        color: $twittfake_font_white;

        &--active {
          background-color: $main-color;
          color: $twittfake_font_white;
          display: block;
          height: inherit;
          border: inherit;
          width: 25%;
          text-align: center;
          margin-bottom: 1rem;
          border-radius: 1rem;
          padding: 0.5rem;
        }
      }

      &__reactions {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        width: 90%;
        height: 1.2rem;
        font-size: 1rem;

        &__heart {
          width: 1.2rem;
          margin-left: -0.5rem;
          cursor: pointer;
          object-fit: contain;
          padding: 0.1rem;

          &:hover {
            @include reactionHoverEffect(rgba(255, 0, 0, 0.212));
          }
        }

        &__pen-to-square {
          cursor: pointer;
        }

        &__trash-can {
          color: red;
          cursor: pointer;
          padding: 0.1rem;

          &:hover {
            @include reactionHoverEffect(rgba(255, 0, 0, 0.23));
          }
        }

        &__counter {
          &__heart {
            font-size: 1.1rem;
            &--red {
              color: red;
              font-size: 1.1rem;
            }
          }
        }
      }
    }
  }
}
