@import "../../shared/variables";

.comment {
  background-color: $secondary-color;
  border-radius: 1.1rem;
  padding: 0.9rem;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: $font-white;
  margin-bottom: 0.5rem;

  @media #{$tablets-only} {
    width: 55vw;
  }

  @media #{$laptop} {
    width: 90%;
  }

  @media #{$desktop} {
    width: 80%;
  }

  &__username {
    font-size: 1.17rem;
    background-color: transparent;
    padding-bottom: 1rem;
  }

  &__content {
    border: none;
    background-color: transparent;
    width: 100%;
    text-align: center;
    resize: none;
    outline: none;
    color: inherit;
    border-radius: 1rem;
    font-size: 0.9rem;

    &--edit-mode {
      background-color: $font-white;
      color: $font-gray;
      &--error {
        border: 2px solid red;
        background-color: $font-white;
        color: $font-gray;
      }
    }
  }

  &__submit-button {
    display: none;

    &--active {
      @include submitButton;
    }
  }

  &__reactions {
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 90%;
    height: 1.2rem;
    font-size: 1rem;
    color: $font-gray;

    &__heart {
      background-color: transparent;
      width: 1.3rem;
      margin-left: -0.5rem;
      cursor: pointer;
      object-fit: contain;
      padding: 0.1rem;
      &:hover {
        @include reactionHoverEffect(rgba(255, 0, 0, 0.212));
      }
    }

    &__pen-to-square {
      background-color: transparent;
      cursor: pointer;
    }

    &__trash-can {
      background-color: transparent;
      color: red;
      cursor: pointer;
      padding: 0.1rem;

      &:hover {
        @include reactionHoverEffect(rgba(255, 0, 0, 0.23));
      }
    }

    &__counter {
      &__heart {
        background-color: transparent;
        font-size: 1.1rem;
        &--red {
          background-color: transparent;
          color: red;
          font-size: 1.1rem;
        }
      }
    }
  }
}
