@import "../Twittfake/src/assets/variables";

.tweet {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid $twittfake_purple_hover;
  width: 95%;
  margin: 0.5rem auto;
  border-radius: 1.1rem;

  @media #{$tablets-only} {
    width: 85%;
  }

  @media #{$laptop} {
    width: 55%;
  }
  @media #{$desktop} {
    width: 45%;
    margin: 0.5rem auto;
  }

  &__comment-section {
    display: none;

    &__comment {
      background-color: $twittfake_purple_hover;
      border-radius: 1.1rem;
      padding: 0.9rem;
      margin: 0.7rem auto;
      width: 90vw;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      @media #{$laptop} {
        width: 100%;
      }

      &.is-visible {
        display: block;
      }

      &__username {
        margin: 0 auto;
        font-size: 1rem;
      }
    }
  }

  &_username {
    padding-top: 0.5rem;
    font-size: 1.1rem;
    cursor: pointer;

    @media #{$desktop} {
      font-size: 1.3rem;
    }
  }

  &_content {
    text-align: justify;
    padding: 0.5rem;
    font-size: 1rem;

    @media #{$tablets-only} {
      font-size: 1rem;
      padding: 0.2rem;
    }
    @media #{$desktop} {
      font-size: 1rem;
    }
  }
  &_reactions {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1.2rem;
    padding-bottom: 0.5rem;
    color: $twittfake_purple;
    height: 2rem;

    &__counter {
      &__comments {
        margin: 0 -0.5rem;
      }

      &__heart {
        margin: 0 -0.5rem;
        &--red {
          margin: -0.5rem;
          color: red !important;
        }
      }
    }

    &__heart {
      width: 1em;
      height: 1em;
      cursor: pointer;
    }
    &__trash-can {
      color: red;
      cursor: pointer;
    }

    &__comment,
    &__pen-to-square,
    &__retweet {
      cursor: pointer;
    }
  }

  @media #{$desktop} {
    font-size: 1.2rem;
  }
}
