@import "../../shared/variables";

.tweet {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  border-radius: 1rem;
  color: black;
  @include shadow;
  
  &--dark {
    background-color: transparent;
    color: $font-white;
    border: 1px solid $font-gray;
  }

  &__username {
    background-color: transparent;
    padding-top: 1rem;
    font-size: 1rem;
    cursor: pointer;

    @media #{$tablets-only} {
      font-size: 1.15rem;
    }

    @media #{$desktop} {
      font-size: 1.2rem;
    }
  }

  &__save-edit-button {
    display: none;

    &--active {
      display: block;
      border-radius: 9999px;
      width: 4rem;
      height: 1.5rem;
      background-color: $secondary-color;
      color: $font-white;
      border: none;
      margin: 0.5rem;
    }
  }

  &__content {
    text-align: center;
    resize: none;
    width: 100%;
    font-size: 1rem;
    border: none;
    background-color: transparent;
    color: inherit;
    height: max-content;

    @media #{$tablets-only} {
      font-size: 1rem;
      padding: 0.2rem;
    }

    @media #{$laptop} {
      padding-top: 0.6rem;
    }

    @media #{$desktop} {
      font-size: 1rem;
    }

    &:focus-visible {
      outline: none;
      border: none;
    }

    &--edit-mode {
      width: 95%;
      border-radius: 1rem;
      padding: 0.5rem;
      resize: none;
      background-color: $font-gray;
      color: $font-white;

      &-error {
        width: 95%;
        resize: inherit;
        border-radius: inherit;
        margin: 1rem;
        padding: 0.5rem;
        border: 1px solid red;
      }

      &:focus-visible {
        outline: $main-color;
      }
    }
  }

  .reactions {
    background-color: transparent;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.6rem;
    padding-bottom: 0.6rem;
    color: $font-gray;

    @media #{$tablets-only} {
      font-size: 1.2rem;
      gap: 1rem;
    }

    &__heart {
      background-color: transparent;
      width: 1.1rem;
      cursor: pointer;
      &:hover {
        @include reactionHoverEffect(rgba(255, 0, 0, 0.212));
      }
    }

    &__trash-can {
      background-color: transparent;
      color: red;
      cursor: pointer;

      &:hover {
        @include reactionHoverEffect(rgba(255, 0, 0, 0.23));
      }
    }

    &__comment,
    &__pen-to-square,
    &__retweet {
      background-color: transparent;

      cursor: pointer;
    }
  }

  .comment-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 0.5rem;
    background-color: transparent;

    &--not-visible {
      display: none;
    }
  }
}

.hearts-counter {
  color: inherit;
  &--red {
    color: red;
  }
}
