@import "../variables";

.tweets-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  margin: 0 auto;

  @media #{$tablets-only} {
    width: 85%;
  }

  @media #{$laptop} {
    width: 45%;
  }

  @media #{$desktop} {
    width: 37%;
    margin: 0.5rem auto;
  }

  .tweet {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-right: 1px solid $twittfake_purple_hover;
    border-left: 1px solid $twittfake_purple_hover;
    width: 95%;
    margin: 0.2rem auto;
    border-radius: 1.1rem;
    line-height: 1.2rem;
    @include shadow;

    &__username {
      padding-top: 0.5rem;
      font-size: 1.1rem;
      cursor: pointer;

      @media #{$desktop} {
        font-size: 1.3rem;
      }
    }

    &__save-edit-button {
      display: none;

      &--active {
        display: block;
        border-radius: 9999px;
        width: 4rem;
        height: 1.5rem;
        background-color: $twittfake_purple_hover;
        color: $twittfake_font_white;
        border: none;
        margin: 0.5rem;
      }
    }

    &__content {
      text-align: center;
      resize: none;
      width: 100%;
      overflow-y: hidden;
      padding: 0.1rem;
      font-size: 1rem;
      border: none;

      @media #{$tablets-only} {
        font-size: 1rem;
        padding: 0.2rem;
      }

      @media #{$laptop} {
        padding: 0.6rem;
      }

      @media #{$desktop} {
        font-size: 1rem;
      }

      &:focus-visible {
        outline: none;
        border: none;
      }

      &--edit-mode {
        width: 95%;
        border-radius: 1rem;
        padding: 0.5rem;
        resize: none;

        &--error {
          width: 95%;
          resize: inherit;
          border-radius: inherit;
          margin: 1rem;
          padding: 0.5rem;
          border: 1px solid red;
        }

        &:focus-visible {
          outline: $twittfake_purple;
        }
      }
    }

    &__reactions {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      gap: 1rem;
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
      color: $twittfake_purple;
      height: 2rem;
      font-size: 1rem;

      @media #{$tablets-only} {
        gap: 1.2rem;
        font-size: 1.2rem;
      }

      &__counter {
        &__comments {
          margin: 0 -0.4rem;
        }

        &__heart {
          margin: 0 -0.4rem;
          &--red {
            margin: -0.4rem;
            color: red;
          }
        }
      }

      &__heart {
        width: 1rem;
        cursor: pointer;
      }
      &__trash-can {
        color: red;
        cursor: pointer;
      }

      &__comment,
      &__pen-to-square,
      &__retweet {
        cursor: pointer;
      }
    }

    &__comment-section {
      display: none;

      &__comment {
        background-color: $twittfake_purple_hover;
        border-radius: 1.1rem;
        padding: 0.9rem;
        margin: 0.7rem auto;
        width: 90vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        @media #{$tablets-only} {
          width: 75vw;
        }

        @media #{$laptop} {
          width: 90%;
        }

        @media #{$desktop} {
          width: 60%;
        }

        &.is-visible {
          display: block;
        }

        &__username {
          margin: 0 auto;
          font-size: 1rem;
        }

        &__content {
          border: none;
          background-color: inherit;
          width: 100%;
          text-align: center;
          resize: none;
          outline: none;
          margin: 0.2rem auto;

          &--edit-mode {
            height: inherit;
            border: inherit;
            width: 95%;
            text-align: inherit;
            resize: inherit;
            margin-top: inherit;
            outline-color: $twittfake_purple;
            margin: 1rem auto;
            border-radius: 1rem;
            padding: 0.5rem;
          }
        }

        &__submit-button {
          display: none;
          border-radius: 999px;
          background-color: $twittfake_purple;
          border: none;
          width: 25%;
          height: 1.6rem;
          margin: 0.5rem auto;
          color: $twittfake_font_white;

          &--active {
            background-color: $twittfake_purple;
            color: $twittfake_font_white;
            display: block;
            height: inherit;
            border: inherit;
            width: 25%;
            text-align: center;
            margin-bottom: 1rem;
            border-radius: 1rem;
            padding: 0.5rem;
          }
        }

        &__reactions {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 1rem;
          width: 90%;
          height: 1.2rem;

          &__heart {
            width: 1.2rem;
            margin-left: -0.5rem;
            cursor: pointer;
          }

          &__trash-can {
            color: red;
            cursor: pointer;
          }

          &__counter {
            &__heart {
              font-size: 1.1rem;
              &--red {
                color: red;
                font-size: 1.1rem;
              }
            }
          }
        }
      }
    }
  }
}
