@import "../variables";

.textarea-wrapper {
  display: none;

  @media #{$laptop} {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 20vh;
    margin: 0 auto;
    margin-bottom: -2rem;
  }

  @media #{$desktop} {
    width: 40%;
    height: 25vh;
  }

  &__input {
    padding: 0.5rem;
    height: 50%;
    border-radius: 1rem;
    resize: none;
    border-color: $twittfake_purple;
    font-size: 1.3rem;

    &:focus-visible {
      outline: 1px solid $twittfake_purple_hover;
    }

    &--error {
      border: 1px solid red;
      padding: 0.5rem;
      height: 50%;
      border-radius: 1rem;
      resize: none;
      font-size: 1.3rem;
    }
  }

  &__submit-button {
    @include submitButton;
  }
}
