@import "../variables";

.comment {
  background-color: $secondary-color;
  border-radius: 1.1rem;
  padding: 0.9rem;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media #{$tablets-only} {
    width: 55vw;
  }

  @media #{$laptop} {
    width: 90%;
  }

  @media #{$desktop} {
    width: 80%;
  }

  &__username {
    font-size: 1rem;
    background-color: transparent;
  }

  &__content {
    border: none;
    background-color: transparent;
    width: 100%;
    text-align: center;
    resize: none;
    outline: none;
    color: inherit;

    &--edit-mode {
      height: inherit;
      border: inherit;
      width: 100%;
      text-align: inherit;
      resize: inherit;
      margin-top: inherit;
      outline-color: $main-color;
      margin: 1rem auto;
      border-radius: 1rem;
      padding: 0.5rem;
    }
  }

  &__submit-button {
    display: none;
    border-radius: 999px;
    background-color: $main-color;
    border: none;
    width: 25%;
    height: 1.6rem;
    margin: 0.5rem auto;
    color: $twittfake_font_white;

    &--active {
      @include submitButton;
    }
  }

  &__reactions {
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 90%;
    height: 1.2rem;
    font-size: 1rem;
    color: $font-gray;

    &__heart {
      background-color: transparent;
      width: 1.3rem;
      margin-left: -0.5rem;
      cursor: pointer;
      object-fit: contain;
      padding: 0.1rem;
      &:hover {
        @include reactionHoverEffect(rgba(255, 0, 0, 0.212));
      }
    }

    &__pen-to-square {
      background-color: transparent;
      cursor: pointer;
    }

    &__trash-can {
      background-color: transparent;
      color: red;
      cursor: pointer;
      padding: 0.1rem;

      &:hover {
        @include reactionHoverEffect(rgba(255, 0, 0, 0.23));
      }
    }

    &__counter {
      &__heart {
        background-color: transparent;
        font-size: 1.1rem;
        &--red {
          background-color: transparent;
          color: red;
          font-size: 1.1rem;
        }
      }
    }
  }
}
