$twittfake_font_white: rgb(245, 240, 255);
$twittfake_background_color: #e6e6fa;
$tablets-only: "(min-width: 700px) and (max-width:1024px)";
$laptop: "(min-width: 1024px)";
$desktop: "(min-width:1440px)";

$main-color: #120d3e;
$secondary-color: #3a375c;
$font-gray: #71767b;
$font-dark: #333;
$font-white: $twittfake_font_white;

@mixin backgroundClr {
  background: rgb(122, 73, 136);
  background: -moz-radial-gradient(
    circle,
    rgba(122, 73, 136, 0.05085784313725494) 0%,
    rgba(55, 21, 143, 0.04805672268907568) 100%
  );
  background: -webkit-radial-gradient(
    circle,
    rgba(122, 73, 136, 0.05085784313725494) 0%,
    rgba(55, 21, 143, 0.04805672268907568) 100%
  );
  background: radial-gradient(
    circle,
    rgba(122, 73, 136, 0.05085784313725494) 0%,
    rgba(55, 21, 143, 0.04805672268907568) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#7a4988",endColorstr="#37158f",GradientType=1);
}

@keyframes widthExpand {
  from {
    transform: scaleX(0);
    opacity: 0;
  }
  to {
    transform: scaleX(1);
    opacity: 100%;
  }
}

@keyframes contentAppear {
  from {
    opacity: 0;
  }
  to {
    opacity: 100%;
  }
}

@mixin reactionHoverEffect($backgroundColor) {
  background-color: $backgroundColor;
  border-radius: 50%;
}

@mixin shadow {
  -webkit-box-shadow: inset 0px -9px 50px -30px rgb(18, 13, 62, 0.5);
  -moz-box-shadow: inset 0px -9px 50px -30px rgb(18, 13, 62, 0.5);
  box-shadow: inset 0px -9px 50px -30px rgb(18, 13, 62, 0.5);
}

@mixin buttons($side) {
  background-color: $main-color;
  color: $twittfake_font_white;
  border-radius: 50%;
  width: 1.2rem;
  height: 1.2rem;
  padding: 0.4rem;
  display: block;
  cursor: pointer;
  position: fixed;
  top: 1rem;
  #{"#{$side}"}: 1.5rem;
  transition: all 0.5s ease;
  transform: translateX(0%);
  z-index: 9999;
  border: none;

  @media #{$tablets-only} {
    #{"#{$side}"}: 5rem;
    padding: 0.5rem;
    width: 1.3em;
    height: 1.3em;
  }

  @media #{$laptop} {
    #{"#{$side}"}: 28%;
    width: 1.3rem;
    height: 1.3rem;
  }

  @media #{$desktop} {
    #{"#{$side}"}: 35%;
    width: 1.3rem;
    height: 1.3rem;
  }
}

@mixin buttons--hidden($side) {
  @include buttons($side);
  transform: translateY(-200%);
  transition: transform 0.5s ease;
}

@mixin submitButton {
  width: 35%;
  height: 2.5rem;
  border-radius: 9999px;
  margin: 0.5rem auto;
  color: $twittfake_font_white;
  background-color: $secondary-color;
  border: none;

  @media #{$tablets-only} {
    height: 2.5rem;
  }

  @media #{$laptop} {
    width: 6rem;
  }

  @media #{$desktop} {
    padding-bottom: 0.2rem;
  }

  &:hover {
    background-color: $secondary-color;
  }
}
