@import "../Twittfake/src/assets/variables";

.page-title {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem auto;
  padding: 0.5rem;
  animation: widthExpand 2s;
  z-index: -1;

  @media #{$laptop} {
    margin: 2rem auto;
  }

  &__text {
    position: absolute;
    text-align: center;
    background-color: $twittfake_purple;
    border-radius: 9999px;
    width: 50%;
    animation: contentAppear 7s;
    color: $twittfake_font_white;
    cursor: pointer;
    margin-top: 0.5rem;
    z-index: 999;

    @media #{$tablets-only} {
      width: 35%;
    }
    @media #{$laptop} {
      width: 20%;
      animation: none;
      font-size: 1.7rem;
    }
    @media #{$desktop} {
      width: 12.37%;
    }
  }
}
