@import "../variables";

.popular {
  display: none;
  border-radius: 1rem;
  padding: 0;

  @media #{$laptop} {
    display: flex;
    flex-direction: column;
    gap: 0.1rem;
    position: fixed;
    top: 4rem;
    right: 2rem;
    width: 23vw;
  }

  @media #{$desktop} {
    right: 21.5%;
    width: 15vw;
  }

  &__tile {
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    border-bottom: 1px solid $twittfake_font_white;
    border-radius: 1rem;
    color: $twittfake_font_white;
    background-color: $main-color;

    &--isDark {
      background-color: $secondary-color;
    }

    &:hover {
      background-color: $secondary-color;
      cursor: pointer;
    }

    &__catch-phrase {
      font-size: 1rem;
    }

    &__amount-of-tweets {
      opacity: 0.7;
      font-size: 0.7rem;
    }
  }
}
